extends ../layouts/main.pug

block content
    .writeWrapper 
        h2 #{type} write page 
        form(action="/board/write" method="POST")
            input.writeWrapper__title(type="text" placeholder="제목을 입력해주세요." name="title")
            textarea.writeWrapper__desc(type="text" placeholder="내용을 입력해주세요." name="desc")
            button.writeWrapper__btn 등록하기